{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Nouveau commentaire de : {{ app.user.username }} </h1>
    <h2>Concernant l'épisode N°{{ episode.number }}<br>
    Titre : {{ episode.slug }}</h2>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('program_index') }}">back to list </a></br>
{% endblock %}
