{% extends 'base.html.twig' %}

{% block title %}New Episode
{% endblock %}

{% block body %}
	<h1>Create new Episode</h1>

	{{ form_start(form) }}
        <div class='formEditEpisode'>
            {{ form_row(form.title) }}
        </div>
        <div class='formEditEpisode'>
            {{ form_row(form.number) }}
            </div>
         <div class='formEditEpisode'>
            {{ form_row(form.season) }}
            </div>
         <div class='formEditEpisode'>
            {{ form_row(form.synopsis) }}
        </div>
        <div class='centre'>
        <button class="btn">{{ button_label|default('Save') }}</button>
        </div>
	{{ form_end(form) }}
     <div class='centre'>
	<a href="{{ path('episode_index') }}">back to list</a>
    </div>
{% endblock %}
