{% extends 'base.html.twig' %}

{% block title %}Program index
{% endblock %}

{% block body %}
	<body>
		
			
		
		<div class='containerPage'>

			<div class="formSearch">
				<div>
					<h1>{{'TOUTES LES SERIES'|trans}}</h1>
				</div>

				<div>{{ form_start(form) }}</div>
				<div>{{ form_row(form.search) }}</div>

				<div>
					<button class="btn btn-secondary" type="submit">{{'Rechercher'|trans}}</button>
				</div>
				<div>{{ form_end(form) }}</div>
			</div>
			<div class='containerIndexBlock'>

				{% for program in programs %}

					<div class='containerAffiche'>
						<a href="{{ path('program_show', { 'slug' : program.slug } ) }}">
							<img src="{{ asset('uploads/' ~ program.poster) }}" alt="Poster de {{ program.title }}"/>
						</a>
					</div>

				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}

			</div>


			{% if is_granted("ROLE_ADMIN" , "ROLE_CONTRIBUTOR") %}
				<div class='indexPathCreateProgram'>
					<a class="btn btn-secondary" href="{{ path('program_new') }}">{{'Ajouter une série'|trans}}
					</a>
				</div>
			{% endif %}


		</div>
	</body>

{% endblock %}
