{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    

    <div class="containershow">

             <div class='poster'>
            <img src="{{ program.poster }}" width="200" />
            </div>
            <div class='program'>
            <h2>{{ program.category.name }}/{{ program.title }}</h2>
            <p>Summary : {{ program.summary }}</p>
            </div>
            <div class='centre'><p><h2>Acteurs :</h2></p>
       
            {% for actor in program.actors %}
               <p><a href="{{ path('actor_show', { 'id': actor.id } ) }}">{{ actor.name }} </p>
            {% else %}
               Aucun acteur pour cette série
            {% endfor %}
            </div>
       
    </div>
    <div class="seasons">
    {% for season in seasons %}
    <div>
    <h3><a href="{{ path('program_show_season' , { 'program_id' : program.id , 'season_id': season.id }) }}">Saisons : {{ season.number }}</a> - Année : {{ season.year }}</h3>Description :{{ season.description }}
    </div>
    {% endfor %}
    </div>

    
    

       


    </br>
    
    <div class='centre'>
    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
