{% extends 'base.html.twig' %}

{% block title %}Program
{% endblock %}

{% block body %}
	
		<div class='containerPage'>


			<div class="containershow">

				<div class='poster'>
					<img src="{{ asset('uploads/' ~ program.poster) }}" alt="Poster de {{ program.title }}" width=20em />
				</div>
				<div class='programBlock'>
					<h1>{{ program.title }}
						
				</h1>

				<h2>{{ program.category.name }}</h2>


				<p></p>
				<p>
					<strong>Résumé :
					</strong>
					{{ program.summary }}</p>

					{% if app.user %}
					<div class="favori">Favori
							<a id="watchlist" href="{{ path('program_watchlist', {'id': program.id})}}">
							 	<i class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart"></i>
							</a>
						</div>

					{% endif %}
			</div>
			<div class='actorBlock'>
				<p>
					<h2>Acteurs :</h2>
				</p>

				{% for actor in program.actors %}
					<div class='actors'>
						<a href="{{ path('actor_show', { 'id': actor.id } ) }}">
							{{ actor.name }}</a>
					</div>
				{% else %}
					Aucun acteur pour cette série
				{% endfor %}
			</div>

		</div>
		<div class="seasons">
			{% for season in seasons %}
				<div>

					<h4>
						<a href="{{ path('program_show_season' , { 'slug' : program.slug , 'season_id': season.id }) }}">Saisons :
							{{ season.number }}
							- Année :
							{{ season.year }}</h4>
					</a>
					Description :{{ season.description|striptags|u.truncate(70,  '...') }}
				</div>
			{% endfor %}
		</div>
	


		<div class='centreButton'>
			{% if is_granted("ROLE_ADMIN") %}
				<a class="btn btn-secondary" href="{{ path('season_new') }}">+ Ajouter nouvelle saison</a>
			

				<a class="btn btn-secondary" href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer le Programme</a>
			
			
				{{ include('program/_delete_form.html.twig') }}
			{% endif %}
		</div>
</div>

{% endblock %}
